[Unit]
Description=BBB-Alarm GPIO processor
After=multi-user.target

[Service]
TimeoutStopSec=3
ExecStart=/home/debian/daemon/alarm_gpio.py

[Install]
WantedBy=multi-user.target
Alias=alarm_gpio.service
